<header style=" 
    background: #1d1c1c; 
    color: white; 
    padding: 5px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;">
    <style>
        #headerNav {
            margin-left: auto;
        }
        #headerNav * {
            border: 1px solid white; 
            background:rgb(21, 21, 21); 
            border-radius: 10px; 
            padding: 5px 10px; 
            font-size: 15px;
            text-decoration: none;
            margin-left: 5px;
            color:white;
            font-weight: bold;
        }
        #headerNav a:hover {
            background: rgb(37, 37, 37);
        }
    </style>    
    <h2 style="margin: 0;">micha-server</h2>
            <nav id="headerNav">
                <a href="/">Home</a>
                <a href="/minecraft">Minecraft</a>
                <a href="/logout">Logout</a>
            </nav><br/>
    </header><hr style="border: 1px solid green;">
